@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font: 18px/145% 'Nunito', system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light;
  --bg: #e8f3ff;
  --text: #030304;
  --text-h: #08060d;
  --fg: #1f75ff;
  --card: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #fdfa3c;
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.dark {
  color-scheme: dark;
  --bg: #0f172a;
  --text: #e2e8f0;
  --text-h: #f8fafc;
  --fg: #93c5fd;
  --card: #111827;
  --border: #334155;
  --code-bg: #1f2937;
  --accent: #facc15;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}
